:root{
    --background-color1:  #155263; 
    --background-color2 :  
    #EFF5F5
    ;
    --background-color3:  #D6E4E5
    ; 
    --background-color4: #EB6440
    ;
}

body{
   
    
}
.container-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 105px 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "about gallery gallery"
    "about gallery gallery"
    "footer footer footer";
    height:100vw;
   

}
header{
    grid-area: header;
    width:100%;
    background-color: var(--background-color1);
    
    height:100px;
    
    

}
ul{
    list-style: none;
   
    
}
li{
    color:white;
    float:left;
    display:block;
    padding:8px;
   
}
.about-us{
    
    grid-area: about;
    background-color: var(--background-color3);
    display:grid;
    grid-row: 2 / 4;
    border:1px solid black;
}
.about-us p{
    margin:auto;
    padding:10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:15px;
}
.about-us h1{
    text-align: center;
    margin-top:50px;
}
.gallery{
    grid-area:gallery;
    
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:10px;
    
    
   

}
.gallery1{
    background-image:url('https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
    background-position:center;
    background-size: cover;
    
    
    grid-row:1/3;
    
    
}
.about-img{
    background-image: url('https://images.unsplash.com/photo-1510972527921-ce03766a1cf1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGNhZmUlMjBmb29kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60');
    width: 400px;
    height:200px;
    background-position:center;
    background-size:cover;
    margin:auto;
}

.pizza{
    grid-row:1/3;
   
    color:black;
    
    opacity:1;
    font-size:18px;
    display:none;
    

    

}
.pizza p{
    margin-top:150px;
    color:white;
    background-color: rgb(54, 52, 52);
    padding:15px;
    
}

.gallery1:hover .pizza{
    display:inline;
    

}
.gallery2:hover .pizza{
    display:inline;

}
.gallery3:hover .pizza{
    display:inline;

}
.gallery2{
    background-image: url('https://images.unsplash.com/photo-1484723091739-30a097e8f929?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
    background-position:center;
    background-size: cover;
    grid-row:2/3;
    
    
}
.gallery3{
    background-image: url('https://images.unsplash.com/photo-1467003909585-2f8a72700288?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    grid-column:2;
    
    
}



footer{
    grid-area:footer;
    background-color: var(--background-color1);
    height:100px;
    color:white;
    display:flex;
    justify-content: center;
}
i.fa::before{
    font-size: 30px;
    color:white;
    
}
img{
    width:300px;
    height:500px;
}
@media only screen and (max-width: 780px) {
    .container-grid{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "header"
        "about"
        " gallery"
        "footer";
        
       
    
    }
  }
  .logo{
    width:40px;
    height:60px;
    float:right;
    padding-right:50px;
    margin-top:-10px;
  }



 